p{
        color:aqua;
        font-size:50px;
        font-weight: lighter;
        font-family:fantasy;
        width: fit-content;
        height:fit-content;
        background-color: blueviolet;
        text-align: left;
}
h1{
        font-size: 50px;
        color:black;
        margin: 0;
}
h3{
        font-size: 30px;
        color:black;
        margin: 0;
}
.header{
        height: 500px;
        background-image: url('../images/web.gif'), url('../images/Y&Z.gif');
        background-color: red;
        background-repeat:no-repeat;
        background-size:cover;
}
.name{
        color:red;
}
.page-title{
        color: crimson;
        text-align: center;
        font-size: 40px;
        font-family:fantasy;
}