.header-banner{
        color:aliceblue;
        height: 400px;
        background: linear-gradient(to right bottom, rgba(235, 8, 23, 0.7), rgba(52, 10, 178, 0.5));
        border: 2px solid red;
        margin: 0; 
        }
.page-title{
                color: white;
                text-align: center;
                font-size: 50px;
                font-family:fantasy;
                padding: 20px; 
                     
        }

#salutation{
                font-size: 40px;
                text-align: left;
                padding-left: 1280px;
                margin: 0;        
        }

#identity{
                font-size: 40px;
                text-align: left;
                padding-left: 1280px;
                margin: 0;
        }
        
.name{
                color: red;
                margin: 0;
                
        }

.skills{
                /* width:450px; */
                font-weight: 800;
                text-align:justify;
                padding-left: 1280px;
                padding-bottom: 10px;
               
        }
.options{
                /* display: flex; */
                display:flex;
                justify-content: left;
                gap: 50px;
                list-style-type: none;
                padding-right: 50px;
                font-size: 20px;
                font-weight: bolder;
                
                
}

.photo{
        color:aliceblue;
        height: 700px;
        background: url('../images/web.gif');
        background-color: crimson;
        background-repeat:no-repeat;
        background-size:cover;
        text-align: center;
        font-size: 30px;
        }
.description h3 {
                text-align: center;
                background-color:rgb(35, 174, 86);
                font-size:35px;
                font-weight: lighter;
                text-align: center;
                color: blueviolet;
                       
        }      
/* .description p{
                background-color:rgb(223, 210, 235);
                font-size:20px;
                font-weight: lighter;
                text-align:justify;              
                margin: 10px;
                padding: 5px;
                }       */
.one{
        height: 50px;
        border: 2px solid red;
        overflow-x: hidden;
        overflow-y: scroll;
}
.two{
        height: 50px;
        border: 2px solid red;
        overflow: hidden;
        
}
                